* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
   background: #f3f5fc;
}

nav {
    display: flex;
    flex-direction: row;
}

.logo-nav {
    position: relative;
    margin: 20px 20px;
    width: 120px;
    height: 48px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
    min-height: 90vh;
}

.original {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 90px 60px;
    height: 100vh;
}

#message {
    background: transparent;
    font-size: 30px;
    color: #0a3871;
}
#message::placeholder {
    color:#0a3871
}
#message:focus{
    outline: none;
}

.botoes-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.botao-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 10px;

    width: 100%;
    height: 45px;

    color: #fff;
    font-size: 16px;

    background: #0a3871;
    border-radius: 18px;
    cursor: pointer;
}

.botao-1:hover {
    background: #1a5092;
}

.botao-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 10px;

    width: 100%;
    height: 45px;

    color: #0a3871;
    font-size: 16px;

    background: transparent;
    border-radius: 18px;
    border: 1px solid #0a3871;
    cursor: pointer;
}

.botao-2:hover {
    background: #e0e7ff;
}