* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
   background: #f3f5fc;
   transition: 2s;
}

nav {
    display: flex;
    flex-direction: row;
}

.logo-nav {
    position: relative;
    margin: 20px 20px;
    width: 120px;
    height: 48px;
}

.botao-nav{
    display: flex;
    margin-left: auto;

}

.switch-mode{
    position: relative;
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    height: 30px;

    background: transparent;
    border-radius: 5px;
    border: 1px solid #cacdda;
    cursor: pointer;
}

.switch-mode:hover {
    background: #373737;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 20px;
    padding-top: 0;
    min-height: 90vh;
}

.original {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 90px 60px;
    height: 100vh;
}

#message {
    background: transparent;
    font-size: 30px;
    color: #0a3871;
}
#message::placeholder {
    color:#0a3871
}
#message:focus{
    outline: none;
}

section p {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:flex-start;
    color: #1a5092;
    font-weight: bold;
    font-size: 12px;
}

.botoes-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.botao-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 10px;

    width: 100%;
    height: 45px;

    color: #fff;
    font-size: 16px;
    font-weight: bold;

    background: #0a3871;
    border-radius: 18px;
    cursor: pointer;
}

.botao-1:hover {
    background: #1a5092;
}

.botao-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 10px;

    width: 100%;
    height: 45px;

    color: #0a3871;
    font-size: 16px;
    font-weight: bold;

    background: transparent;
    border-radius: 18px;
    border: 1px solid #0a3871;
    cursor: pointer;
}

.botao-2:hover {
    background: #e0e7ff;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    gap: 10px;
}

#copiar{
    padding: 24px 80px;
}

#copiar:hover {
    background: #f6f8ff;
}

#limpar:hover{
    background: #ffe5c3;
}

.cifrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 36px;
    box-shadow: 0 10px 15px #c4c7d4;
    width: 400px;
    height:90vh;
    padding: 20px;
}

.cifrado h3 {
    text-align: center;
    color:#343a40;
    font-size: 20px;
    font-weight: bold;
}

.cifrado p {
    text-align: center;
    color: #0a3871;
}

.conteudo_cifrado {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100%;
}

#conteudo_cifrado p {
    width: 100%;
    font-size: 25px;
}

.sem_conteudo {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: auto;
}

article button{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.oculto {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background: linear-gradient(180deg, rgba(243,245,252,1) 30%, rgba(184,210,244,1) 100%);
    font-family: 'Montserrat', sans-serif;
    color: #0a3871;
    font-weight: bold;
}

.link, .link a {
    display: flex;
    flex-direction: row;
    text-decoration: none; 
    padding: 0 15px;
    color: #0a3871;
}


/* modo noturno */
.dark-mode{
    background:  #373737;
    color: orangered;
}